// Colours.
:root {
    --green: #4C5844;
    --dark-green: #3E4637;
    --green-border-light: #879281;
    --green-border-dark: #27301F;
    --yellow: #BFBC89;
    --white: #FFFFFF;
}

$green: var(--green);
$dark-green: var(--dark-green);
$green-border-light: var(--green-border-light);
$green-border-dark: var(--green-border-dark);
$yellow: var(--yellow);
$white: var(--white);